---
import Layout from "../../layouts/Layout.astro";

---
<Layout title="hobbies">
    <section class="bg-indigo-400">         
        <h2>Technology</h2>
        <div class="flex flex-col justify-start">
            <p>I like exploring new technologies and keeping up with software development trends in my free time.</p>
            <ul class="list-disc p-4 *:flex *:flex-row *:justify-between">
                <li>
                    <p>Docker</p>
                    <p><b>Progress:</b> 40%</p>
                </li>
                <li>
                    <p>Sequelize</p>
                    <p><b>Progress:</b> 25%</p>
                </li>
            </ul>
        </div>
    </section>
</Layout>