---
import Layout from '../../layouts/Layout.astro';
import Image from 'astro/components/Image.astro';
import jomkit1 from '../../images/jomkit1.jpg';
---
<Layout title="About">
    <section class="flex flex-col items-center h-svh relative">
        <h1>About</h1>
        <div class="flex w-3/4 h-3/4 justify-between bg-indigo-400 p-8">
            <div class="bg-white w-1/2 h-2/3 p-6 border-4 border-black">
                <p>Hi, thanks for visiting my website! My name is Jomkit, and I'm a software developer currently based in Maine. I love learning new things, technologies, and hobbies. On the technology side I've been learning how to use docker for web development. On the hobby side I've been doing a lot of axe throwing.</p>
                <p>I love trying different things and exploring new industries because I believe that creative solutions lie at the intersection of unexpected topics.</p>
            </div>
            <div class="w-1/2 flex items-start justify-end">
                <Image src={jomkit1} alt="about profile picture" width={400} class="border-4 border-white" />
            </div>
        </div>
        <!-- <div class="absolute bottom-72 skew-y-8 z-0 bg-indigo-800 w-3/4 h-24"></div>
        <div class="absolute bottom-40 z-0 bg-indigo-800 w-3/4 h-48"></div> -->
    </section>
</Layout>