---
import Layout from "../../layouts/Layout.astro"
---
<Layout title="Services">
    <section class="flex flex-col items-center space-y-12">
        <h1 class="mt-6">Services</h1>
        <div class="bg-white flex flex-col px-10 py-5 w-2/3">
            <h2>Web Design</h2>
            <p>Whether you need a simple landing page or a complex web application, I can help you create a design that is both beautiful and functional.</p>
            <ul class="list-disc">
                <li>Wireframes</li>
                <li>Prototyping</li>
                <li>Design Systems</li>
                <li>Responsive Web Design</li>
                <li>UI/UX</li>
            </ul>
        </div>
        <div class="bg-white flex flex-col px-10 py-5 w-2/3">
            <h2>Custom Portfolio Sites</h2>
            <p>In need of a way to show off your products and services? I can help you create a custom portfolio site that is both beautiful and functional.</p>
            <ul class="list-disc">
                <li>SEO Optimized</li>
                <li>Fast Loading</li>
                <li>Secure</li>
            </ul>
        </div>
        
    </section>
</Layout>

<style>
    
</style>