---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Contact">
    <h1 class="text-3xl font-bold">Contact Me</h1>
    <div class="flex justify-center">
        
    </div>
</Layout>