---
import Layout from '../layouts/Layout.astro';
import selfiePastel from '../images/selfiePastel.jpg';
import risatech from '../images/risatech-welcome.png';
import fab from '../images/fab.png';
import { Image } from 'astro:assets';
import ProjectOverlay from '../components/ProjectOverlay';
---

<Layout title="Home" altTitle="Jomkit Jujaroen">
	<main class="flex flex-col items-center">
		<section>
			<div class="flex flex-col gap-y-4 pb-4">
				<div id="blurb" class="lg:w-2/3 m-auto space-y-2">
					<h3>A <span class="font-bold">full-stack software engineer</span> with a global perspective</h3>
					<p>Thanks for visiting my website! I'm a developer who loves turning challenges into elegant solutions. Take a look at my projects and let's build something awesome.</p>
					<a class="bg-slate-500 px-2 rounded text-white hover:border-2 border-black" href="/about">About Me</a>
				</div>
				<!-- <p class="italic">Clean, optimized websites handcrafted to your specific needs</p> -->
			</div>
		</section>

		<section id="work" class="flex flex-col bg-indigo-800 text-white">
			<h2>Past Work</h2>
			<div>
				<p>I’m a software engineer with experience building a variety of projects—from robust web applications for businesses to sleek portfolio websites for traditional craftsmen.</p>
				<a class="underline hover:text-blue-200" href="/work">Learn More...</a>
			</div>
			<div class="grid lg:grid-cols-2 gap-x-12 gap-y-4">
				<ProjectOverlay header='risatech.ai' footer="Full stack engineer responsible for pushing new, mission-critical features to our flagship product" url="https://risatech.ai/" client:load>
					<Image src={risatech} alt="risatech.ai welcome page" />
				</ProjectOverlay>
				<ProjectOverlay header='foxallenbindery portfolio website' footer="Developed, designed, and currently maintaining the book binding website of Fox Allen Maasch" url="https://foxallenbindery.com/" client:load>
					<Image src={fab} alt="foxallenbindery landing page" />
				</ProjectOverlay>
			</div>
		</section>

		<section id="services" class="flex flex-col bg-white lg:py-12 space-y-6">
			<h2>Services</h2>
			<div class="lg:space-y-4">
				<p>I build and maintain websites using the latest technologies, ensuring that they are fast, secure, and user-friendly.</p>

				<ul class="ml-8 list-disc">
					<li>SEO Optimized</li>
					<li>Fast Loading</li>
					<li>Secure</li>
				</ul>
				
				<p>Reach out to me at <span>j.jujaroen96@gmail.com</span> for web development comissions, project ideas, or other collaborations.</p>
			</div>
		</section>

		<section id="hobbies" class="flex flex-col bg-indigo-800 text-white mb-12">
			<h2>Hobbies</h2>
			<div class="space-y-4">
				<p>In my free time I like keeping up with new software trends, networking with other professionals, and exploring new hobbies.</p>
				<div>
					<h3>Axe Throwing</h3>
					<p>Axe throwing is one of those hobbies that I've grown passionate about. It exemplifies all the things I like about software engineering: it is impressive to watch a skilled practitioner throw their axe but even more exciting to experience it for yourself, learning all the skill and nuance that goes into perfecting the throw.</p>
				</div>
			</div>
		</section>
	</main>
</Layout>

<style>
</style>
