---
import Layout from '../layouts/Layout.astro';
import risatech from '../images/risatech-welcome.png';
import fab from '../images/fab.png';
import { Image } from 'astro:assets';
import ProjectOverlay from '../components/ProjectOverlay';
import { SingleAccordion } from '@/components/SingleAccordion';
---

<Layout title="Home" altTitle="Jomkit Jujaroen">
	<main class="flex flex-col items-center">
		<section>
			<div class="flex flex-col gap-y-4 pb-4">
				<div id="blurb" class="m-auto space-y-4">
					<h3 class="text-center italic">A <span class="font-bold">full-stack software engineer</span> with a global perspective</h3>
					
					<p>Thanks for visiting my website! I built it completely by myself, using Astro.js, React, and TailwindCSS. 
					</p>
					<p>I hope you find something interesting. I like to learn new things, and make awesome websites.</p>
					
					<!-- <div>
						<a class="bg-green-500 px-2 py-1 rounded text-white hover:border-2 border-black" href="/about">About Me</a>
					</div> -->
				</div>
			</div>
		</section>

		<div class="lg:space-y-2 lg:mb-8">
			<section id="News" class="flex flex-col even:bg-slate-300 odd:bg-blue-800 odd:text-white">
				<h2>What I've Been Up To</h2>
				<p>The two main things I've been up to recently are open source and learning new skills and technologies.</p>
				<div>
					<SingleAccordion title="Open Source" expanded={true} client:only>
						<div class="space-y-2">
							<p>Recently I've been dabbling in open-source contributions, and having a whale of a time. Something I didn't realize was how much of a great opportunity it is to learn new technology and practice the software engineering workflow.</p>
							<p>In this case I had to pick up enough <a class="underline hover:font-bold" href="https://angular.dev/">Angular</a> to start making contributions. Check out the project! It's an open-source idle game: <a class="hover:underline" href="https://glowriftduskhall.felfhenor.com/">Glowrift-Duskhall</a></p>
						</div>
					</SingleAccordion>

					<SingleAccordion title="Learning Skills" expanded={true} client:only>
						<div class="space-y-2">
							<p>I recently set up PlatformIO on VS Code for microcontroller development. It was a little rough, but I managed to power through and get it set up. Check out my <a href="/posts" class="underline">blog</a> if you're wondering why I chose that over the Arduino IDE, and if you're interested in my experience setting up PlatformIO.</p>
							<p>Since I am a glutton for torture, I decided if I'm gonna start tinkering with microcontrollers again, I might as well learn C++. Yes that's right, C++ and Java more or less at the same time. I'll explain my philosophy on this another time, but I honestly don't think it's gonna be that much of a problem, and I think there's a lot to learn from both languages for a web developer, or any software engineer for that matter.</p>
							<p>I've been learning Java through the University of Helsinki's Massive Open Online Course (MOOC), specifically their <a class="underline" href="https://java-programming.mooc.fi/" target="_blank" rel="noopener noreferrer">Java Programming</a> course!</p>
							<p>Progress on Neovim has been study; although I'm nowhere near good enough to be developing in Neovim yet, I've been slowly learning how to better configure it for my own purposes. This means learning how to install language server plugins so that TypeScript linting and auto-suggestions work correctly. Maybe when I finally get good at managing Neovim plugins, I'll write up a guide on it.</p>
						</div>
					</SingleAccordion>

				</div>

				<p>Check out some more personal goals of mine -> <a href="/about#goals">About Me</a></p>
			</section>
	
			<section id="work" class="flex flex-col even:bg-slate-300 odd:bg-blue-800 odd:text-white">
				<h2>Things I've Worked On</h2>
				<div class="space-y-2">
					<p>I love working on different projects, from robust web applications for businesses to specialized portfolio websites for skilled craftsmen.</p>
					<p>Check them out below!</p>
					<p><a class="underline" href="/work">Learn More...</a></p>
				</div>
				<div class="grid lg:grid-cols-2 gap-x-12 gap-y-4">
					<ProjectOverlay header='risatech.ai' footer="Full stack engineer responsible for pushing new, mission-critical features to our flagship product" url="https://risatech.ai/" client:load>
						<Image src={risatech} alt="risatech.ai welcome page" />
					</ProjectOverlay>
					<ProjectOverlay header='foxallenbindery portfolio website' footer="Developed, designed, and currently maintaining the book binding website of Fox Allen Maasch" url="https://foxallenbindery.com/" client:load>
						<Image src={fab} alt="foxallenbindery landing page" />
					</ProjectOverlay>
				</div>
			</section>
	
			<section id="services" class="flex flex-col even:bg-slate-300 odd:bg-blue-800 odd:text-white lg:py-12 space-y-6">
				<h2>Services</h2>
				<div class="lg:space-y-4">
					<p>I build and maintain websites using the latest technologies, ensuring that they are fast, secure, and user-friendly.</p>
	
					<ul class="ml-8 list-disc">
						<li>SEO Optimized</li>
						<li>Fast Loading</li>
						<li>Secure</li>
					</ul>
					
					<p>Reach out to me at <span>j.jujaroen96@gmail.com</span> for web development comissions, project ideas, or other collaborations.</p>
				</div>
			</section>
	
			<section id="hobbies" class="flex flex-col even:bg-slate-300 odd:bg-blue-800 odd:text-white">
				<h2>Hobbies</h2>
				<div class="space-y-4">
					<p>In my free time I like keeping up with new software trends, networking with other professionals, and exploring new hobbies.</p>
					<div>
						<h3>Axe Throwing</h3>
						<p>Axe throwing is one of those hobbies that I've grown passionate about. It exemplifies all the things I like about software engineering: it is impressive to watch a skilled practitioner throw their axe but even more exciting to experience it for yourself, learning all the skill and nuance that goes into perfecting the throw.</p>
					</div>
				</div>
			</section>
		</div>

	</main>
</Layout>

<style>
	a:hover {
		@apply  font-semibold underline;
	}
</style>
