---
import Layout from "@/layouts/Layout.astro";

---

<Layout title="resources">
    <section class="items-center border-8 border-double border-black rounded">
        <h3>Here are some things that have helped me out recently.</h3>
        <div class="w-3/4">
            <div>
                <h3 class="font-semibold">Java</h3>
                <p>The University of Helsinki's Massive Open Online Course (MOOC), specifically their <a class="underline" href="https://java-programming.mooc.fi/" target="_blank" rel="noopener noreferrer">Java Programming</a> course.</p>
            </div>
            <div>
                <h3 class="font-semibold">C++</h3>
                <p>The <a class="underline" href="https://www.learncpp.com/" target="_blank" rel="noopener noreferrer">Learn C++</a> website.</p>
                <p class="pl-5 text-lg">This resource is great because it explains C++ concepts in a beginner-friendly way while still offering valuable insights for those with experience in higher-level languages like JavaScript or Python, especially about how languages work and compile down.</p>
                
                <p><a class="underline" href="https://platformio.org/" target="_blank" rel="noopener noreferrer">PlatformIO</a></p>
                <p class="pl-5 text-lg">PlatformIO is an open-source ecosystem for embedded software development. In their own words: "Your Gateway to Embedded Software Development Excellence."</p>
            </div>
        </div>
    </section>
</Layout>