---
import Layout from "@/layouts/Layout.astro";

---

<Layout title="resources">
    <section class="items-center">
        <div>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, cum sed nulla recusandae molestias nesciunt autem veniam eligendi repellat, assumenda odit necessitatibus officia cupiditate dolor, dolorem nihil. Suscipit, quos provident!
            </p>
        </div>
    </section>
</Layout>