---
import { Astronav, MenuItems, MenuIcon,  Dropdown, DropdownItems } from "astro-navbar";
---

<header class="flex items-center justify-between py-4 lg:py-0 px-10 lg:px-56 sticky top-0 z-10 bg-[--secondary-color]">
  <Astronav>
    <div class="flex w-full justify-between">
        <h1 class="text-xl font-bold"><a class="button" href="/">Jomkit Jujaroen</a></h1>
        <nav class="text-xl">
      <div class="block lg:hidden">
        <MenuIcon class="w-4 h-4 text-gray-800" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex">
      <ul class="fixed lg:static lg:flex flex-col lg:flex-row gap-5 text-center lg:text-start w-screen lg:w-auto top-16 lg:top-auto left-0 lg:left-auto bg-[--secondary-color]">
        <li><a class="nav-btn" href="/">Home</a></li>
        <li><a class="nav-btn" href="/work">Work</a></li>
        <!-- <li><a class="nav-btn" href="/services">Services</a></li> -->
        <li><a class="nav-btn" href="/posts">Blog</a></li>
        <li><a class="nav-btn" href="/about">About</a></li>
        <li><a class="nav-btn" href="/resources">Resources</a></li>
        <li><a class="nav-btn" href="/contact">Contact</a></li>
      </ul>
    </MenuItems>
  </Astronav>
</header>

<style>
    header {
        @apply text-slate-200;
    }

    li .nav-btn {
        @apply hover:bg-black hover:bg-opacity-25 transition ease-in delay-75 block w-full;
    }
    
    @media screen and (min-width: 1024px) {
        .nav-btn {
            @apply p-4;
        }
    }
</style>