---
import Header from './Header.astro';
import Footer from './Footer.astro';

interface Props {
	title: string;
	altTitle?: string | null;
}

const { title, altTitle=null } = Astro.props;
const websiteDescription = 'Portfolio website for Jomkit Jujaroen, full-stack software engineer and web developer';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={websiteDescription} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/jj_logo_no_bg.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-[--primary-color] flex flex-col h-[100vh]">
		<Header />

		<main class="flex flex-col items-center space-y-4">
			<h1 class="pt-6 text-center">{altTitle ? altTitle : title}</h1>
			<slot />
		</main>
		
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--primary-color: white;
		--secondary-color: #007BFF;
		--dark-color: #333333;

		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		/* background: #13151a; */
	}

	h1 {
		@apply text-6xl font-bold;
	}

	h2 {
		@apply text-3xl font-bold;
	}

	h3 {
		@apply text-2xl;
	}

	section {
		@apply lg:w-3/4 px-6 lg:px-16 py-10 space-y-6 m-auto flex flex-col;
	}

	p {
		@apply text-xl;
	}
</style>
